body{
    background-image: url("./image/neom-uqAUg1zvMXQ-unsplash.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
    .top-left {
        position: absolute;
        color: rgb(185, 130, 27);
        top: 10px;
        left: 15px;
        }
        h1{
            text-align: center;
            margin-top: 250px;
        }
        h2{
            text-align: center;
            margin-top: 2px;
            text-decoration: overline;
        }
      